// place your custom styles here
/* .vuepress/styles/index.css */
.tagline {
    min-height: 60px;
  }
  
  .typewriter-text {
    border-right: 3px solid #4ecca3;
    padding-right: 5px;
    animation: blink 0.75s step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #4ecca3;
    }
  }